{% extends "layout.html" %} 
{% block title %} Login {%endblock%} 

{% block content %}

<main class="container py-5">
    <form method="POST" class='d-flex flex-column justify-content-center' action="{{ url_for('auth.login') }}">
        <h1 align="center">Login</h1>
    
    
        <div>
            <label for="email">Email address</label>
            <input type="email" class="form-control mt-1 mb-3" id='email' name='email' placeholder='Enter email'>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" class="form-control mt-1 mb-1" id='password' name='password' placeholder='Enter password'>
        </div>
        <br>
        <button class="btn btn-primary mx-auto w-auto px-4 custom-secondary-btn">Submit</button>
    </form>

    <div class="description mt-5" align='center'>
        <h1>Activity tracking that's easy and effortless</h1>
        <h3 class='lead'>Take control of your time. Eliminate bad habits and cultivate good ones. Start today!</h3>
        <a href="/sign-up" class="btn btn-primary px-4 my-3 custom-secondary-btn">Create Account</a>
    </div>
</main>

   
    
    {% endblock %}
    