{% extends "layout.html" %} 

{% block title %} Statistics {%endblock%} 

{% block content %}
<main class="container py-3">
    <h1 align="center" class='my-3'>Statistics</h1>
    {% if activities|length > 0 %}
    <h3 class='mt-4 mb-3'>Choose your activities (max 2):</h3>
    <div class='d-flex flex-column justify-content-center' id='selectActivityMenu'>
        
        <select class='form-select' name="activity" id="activityName1">
            {% for activity in activities %}
            <option class='option-{{ activity.type }}'>{{ activity.name }}</option>
            {% endfor %}
        </select>
       <div id="additionalSelectActivityMenu">
            
        </div> 
        <button class="btn add-btn mx-auto my-3" id='addActivityButton'>Add second activity</button>
        
        
        <h3 class="mt-4 mb-3">Select a period:</h3>
        <select name="periodInDays" class='form-select mb-3' id='periodInDays'>
            <option value="1">Last 24 hours </option>
            <option value="3">Last 3 days </option>
            <option value="7">Last week </option>
            <option value="30">Last month </option>
            <option value="365">Last year</option>
        </select>

        <button class="btn generate-btn mx-auto custom-secondary-btn py-2" id="generateStatisticsButton">Generate Statistics</button>
    </div>
    
    <div align='center' class='my-3' id="statistics-data">
      <!--  the stats will be displayed here -->
    </div>
    <div class='chartContainer'>
        <canvas id="myChart"></canvas>
    </div> 
    {% else %}
            <p>No activities yet. </p>
    {% endif %}
    
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/stats.js') }}"></script>
    {% endblock %}
    