/* Custom colors */
:root {
    --primary-color: #ff0000; /* Red */
    --secondary-color: #00ff00; /* Green */
    --tertiary-color: #babbf7;
    --tertiary-color-hover: #abacf2;
  }


.logo-img {
    height: 30px; /* Adjust the height as needed */
    width: auto; /* Maintain the aspect ratio */
}

.custom-tertiary {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
}

.nav-link:hover
{
    background-color: var(--tertiary-color-hover);
}



/* media queries */

@media (min-width: 992px) { 
    .container{
        max-width: 75%;
    }
 }