{% extends "layout.html" %} 
{% block title %} Sign up {%endblock%} 

{% block content %}
<main class="container py-5">
    <form method="POST" class='d-flex flex-column justify-content-center'>
        <h1 align="center">Sign up</h1>
    
    
        <div>
            <label for="email">Email address</label>
            <input type="email" class="form-control mt-1 mb-3" id='email' name='email' placeholder='Enter email'>
        </div>
        <div>
            <label for="name">First name</label>
            <input type="text" class="form-control mt-1 mb-3" id='name' name='name' placeholder='Enter your name' min='3' max='30'>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" class="form-control mt-1 mb-3" id='password' name='password' placeholder='Enter password' min='6' max='30'>
        </div>
        <div>
            <label for="password2">Confirm</label>
            <input type="password" class="form-control mt-1 mb-3" id='password2' name='password2' placeholder='Confirm password'>
        </div>
        <br>
        <button class="btn btn-primary w-auto mx-auto px-4 py-2 custom-secondary-btn">Submit</button>
    </form>
</main>

  

  
    
    {% endblock %}
    